<%= form_with model: unit do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% unit.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :classtype %><br>
    <%= form.select :classtype, ['warrior', 'ranger', 'mage'], selected: 'warrior' %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.select :gender, ['male', 'female'], selected: 'male' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
