<h1><span class="charHead">Name:</span> <span class="charStat"><%= @unit.name %></span></h1>

<p><span class="charHead">Class:</span> <span class="charStat"><%= @unit.classtype %></span></p>

<p><span class="charHead">HP:</span> <span class="charStat"><%= @unit.char_hp %></span></p>

<p><span class="charHead">TP:</span> <span class="charStat"><%= @unit.char_tp %></span></p>

<p><span class="charHead">LVL:</span> <span class="charStat"><%= @unit.char_lvl %></span></p>

<p><span class="charHead">XP:</span> <span class="charStat"><%= @unit.char_xp %></span></p>

<p><span class="charHead">ATP:</span> <span class="charStat"><%= @unit.char_atp %></span></p>

<p><span class="charHead">DEF:</span> <span class="charStat"><%= @unit.char_def %></span></p>

<p><span class="charHead">EVA:</span> <span class="charStat"><%= @unit.char_eva %></span></p>

<p><span class="charHead">GOLD:</span> <span class="charStat"><%= @unit.gold %></span></p>

<ul>
  <li><%= link_to "Map", locations_path %></li>
  <li><%= link_to "Edit", edit_unit_path(@unit) %></li>
  <li><%= link_to "Destroy", unit_path(@unit), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>