<%= form_with model: @location do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @location.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :shop %><br>
    <%= form.text_field :shop %>
    <% @location.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :quest %><br>
    <%= form.text_field :quest %>
    <% @location.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>